.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.logo {
    font-size: 24px;
    color: #E5E7EB;
}

.links {
    font-size: 18px;
    color:#E5E7EB;
    display: flex;
    text-decoration: none;
    gap: 20px;
}

li {
    list-style-type: none;
}

.container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 30px;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.secondary_text {
    font-size: 18px;
    color: #E5E7EB;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 25px;
}

.info_header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.gallery {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 25px;
}

.captions {
    max-width: 200px;
}

.quote_box {
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.thor {
    font: bolder;
    align-self: flex-end;
}

button, img{
    border-radius: 5px;    
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    max-width: 100px;
}

.action {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    padding: 50px;
    margin: 15px;
}

.action_title{
    color: #F9FAF8;
    font-weight: bold;
}

.action_text {
    color: #F9FAF8;
}

.footer {
    display: flex;
    /* flex: 1; */
    justify-content: center;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}